<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
  <div>
    <a class="btn btn-success button-fixed"
       th:href="@{/order/edit/}">
      <i class="fa-solid fa-plus"></i> Добавить
    </a>
  </div>
  <div class="table-responsive">
    <table class="table table-success table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО покупателя</th>
        <th scope="col">Магазин</th>
        <th scope="col">Товар</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order, iterator: ${orders}">
        <th scope="row" th:text="${iterator.index} + 1"/>
        <td th:text="${order.customerFIO}"/>
        <td th:text="${order.storeName}"/>
        <td th:text="${order.productName}"/>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>