<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <a class="btn btn-success button-fixed"
       th:href="@{/store/edit/}">
      <i class="fa-solid fa-plus"></i> Добавить
    </a>
  </div>
  <div class="table-responsive">
    <table class="table table-success table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название магазина</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="store, iterator: ${stores}">
        <th scope="row" th:text="${iterator.index} + 1"/>
        <td th:text="${store.storeName}"/>
        <td sec:authorize="hasRole('ROLE_ADMIN')" style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-warning button-fixed button-sm"
               th:href="@{/store/edit/{id}(id=${store.id})}">
              <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
            </a>
            <button type="button" class="btn btn-danger button-fixed button-sm"
                    th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${store.id}').click()|">
              <i class="fa fa-trash" aria-hidden="true"></i> Удалить
            </button>
          </div>
          <form th:action="@{/store/delete/{id}(id=${store.id})}" method="post">
            <button th:id="'remove-' + ${store.id}" type="submit" style="display: none">
              Удалить
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>